import os

from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch.actions import IncludeLaunchDescription
from launch.launch_description_sources import PythonLaunchDescriptionSource

def generate_launch_description():
    yahboom_bringup_dir = get_package_share_directory('yahboom_bringup')
    description_dir = get_package_share_directory('yahboomcar_description')

    odom_to_tf_launch = IncludeLaunchDescription(
        PythonLaunchDescriptionSource(
            os.path.join(yahboom_bringup_dir, 'launch', 'odom_to_tf.py.launch')
        ),
    )

    description_launch = IncludeLaunchDescription(
        PythonLaunchDescriptionSource(
            os.path.join(description_dir, 'launch', 'description_launch.py')
        )
    )

    return LaunchDescription([
	# odom_to_tf_launch,
	description_launch
    ])
